<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1> Order Success!</h1>
		<div>
           <h1>Cart</h1>
        </div>
        <div>
            <table class="table table-striped table-bordered">
                <thead class="thead-dark">
                <tr>
                    <th>Exchange Code</th>
                    <th>Type</th>
                    <th>Amount of Assets</th>
                    <th>Asset Cost</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="cart: ${listCart}">
                    <td th:text="${cart.exchange_code}">Exchange Code</td>
                    <td th:text="${cart.type}">Type</td>
                    <td th:text="${cart.transaction_amount}">Amount of Assets</td>
                    <td th:text="${cart.transaction_cost}">Asset Cost</td>
                </tr>
                </tbody>
            </table>
        </div>
        <h2>Total Price : </h2> <h2 th:text="${endPrice}"></h2>
        <form action="#" th:action="@{/purchaseCart}" method="post">
        	<button type="submit" id="btn-register">Purchase</button>
        </form>

</body>
</html>