<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/><!-- Bootstrap CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"/>
    <link th:href="@{css/external.css}" rel="stylesheet"/><!--link to external .css stylesheet-->
    <title>Successful Registration</title>
</head>
<body>
<div class="background" data-color="azure">
    <div class="container text-center">
        <div class="header">
            <h1> Successful Registration!</h1>
            <button id="login"><a th:href="@{/login}" style="text-decoration: none; color: white">Please log in to continue</a></button>
        </div>
    </div>
</div>

</body>
</html>