<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xml:lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="container text-center">
    <div>
        <h1>User Registration - Sign Up</h1>
    </div>
    <form action="#" th:action="@{/save_user}" th:object="${user}"
          method="post" style="max-width: 600px; margin: 0 auto;">
        <div class="m-3">
            <div class="form-group row">
                <label class="col-4 col-form-label">E-mail: </label>
                <div class="col-8">
                    <input type="email" th:field="*{user_email}" class="form-control" required/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-4 col-form-label">Password: </label>
                <div class="col-8">
                    <input type="password" th:field="*{user_password}" class="form-control"
                           required minlength="6" maxlength="10"/>
                </div>
            </div>
            <div>
                <button type="submit" class="btn btn-primary">Register</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>