<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xml:lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/><!-- Bootstrap CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"/>
    <link th:href="@{css/external.css}" rel="stylesheet"/><!--link to external .css stylesheet-->
    <title>Register</title>
</head>
<body>
<div class="background" data-color="azure">
<div class="container text-center">
    <div class="header">
        <h1>User Registration - Sign Up</h1>
    </div>
    <form action="#" th:action="@{/save_user}" th:object="${user}"
          method="post" style="max-width: 600px; margin: 0 auto;">
        <div class="m-3">
            <div class="form-group row">
                <label class="col-4 col-form-label">E-mail: </label>
                <div class="col-8">
                    <input type="email" th:field="*{user_email}" class="form-control" required/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-4 col-form-label">Password: </label>
                <div class="col-8">
                    <input type="password" th:field="*{user_password}" class="form-control"
                           required minlength="6" maxlength="10"/>
                </div>
            </div>
            <div>
                <button type="submit" id="btn-register">REGISTER</button>
            </div>
        </div>
    </form>
</div>
</div>
</body>
</html>